<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database.Properties.Settings.HotelMSConnectionString"
            connectionString="Data Source=iDevin.cn;Initial Catalog=HotelMS;Persist Security Info=True;User ID=sa;Password=wyw.19961019"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>